%nav
  %a{ :href => "/bodies" }
    &laquo; Government bodies

%h1= @page_title = @body.name
  
%h2 Elections

%table
  - @elections.each do |election|
    %tr
      %td
        %a{ :href => "/bodies/#{@body.slug}/elections/#{election.d}" }<
          = short_date(election.d)
      %td
        = election.kind
      
%h2
  = @body.districts_name.capitalize
  
- @districts.each do |district|
  %p
    %a{ :href => "/bodies/#{@body.slug}/#{@body.districts_name}/#{district.slug}" }
      = district.name
