%h1= body.name
  
%h2 Elections

%table
  %thead
    %tr
      %th
      %th
      %th turnout
  - elections.each do |election|
    %tr
      %td
        %a{ :href => "/bodies/#{body.slug}/elections/#{election.d}" }<
          = short_date(election.d)
      %td
        = election.kind
      %td.right
        - if election.turnout_percent
          = format_percent(election.turnout_percent)
      
%h2
  = body.districts_name.capitalize
  
- districts.each do |district|
  %p
    %a{ :href => "/bodies/#{body.slug}/#{body.districts_name}/#{district.slug}" }
      = district.name
