%nav
  %a{ :href => "/candidates" }
    &laquo; All candidates

%h1= candidate.name

%h2 Elections contested

%table
  %tr
    %th &nbsp;
    %th date
    %th party
    %th body
    %th district
    %th votes
    %th position
    %th &nbsp;
    
  - candidacies.each do |ccy|
    %tr
      %td{ :style => "background-color: #{ccy['party_colour']}" } &nbsp;
      %td
        %a{ :href => "/bodies/#{ccy['body_slug']}/elections/#{ccy['d']}" }
          -# Postgres returns ccy['d'] as a Date and sqlite returns it as a String
          = long_date(ccy['d'])
      %td= party_name(ccy['labcoop'], ccy['party_name'])
      %td
        %a{ :href => "/bodies/#{ccy['body_slug']}" }
          = ccy['body_name']
      %td
        %a{ :href => "/bodies/#{ccy['body_slug']}/elections/#{ccy['d']}/#{ccy['districts_name']}/#{ccy['district_slug']}" }
          = ccy['district_name']
      - if ccy['votes'].nil? # election results not yet available
        %td.right &mdash;
        %td.right &mdash;
        %td.right &mdash;
      - else
        %td.right= commify(ccy['votes'])
        %td.right= to_ordinal(ccy['position'])
        %td.elected_text= ccy['seats'] == 1 ? "Elected" : "Not elected"

.warning
  %p
    This might not be the complete electoral history for this candidate. They might have stood in elections outside Sutton and / or in Sutton elections for which we don't have data.

  %p
    Some candidates have more than one profile page due to them using slightly different names in different elections. See the full
    %a{ :href => "/candidates/##{candidate.surname[0]}" }<
      candidates list
    for details.
