.grid_12
  %h1 Sutton Elections 6 May 2010
  
  %h2 UK Parliament Election Results

  %p
    %a{ :href => '/results/uk-parliament/2010-05-06/carshalton-and-wallington' } Carshalton and Wallington Constituency
  %p
    %a{ :href => '/results/uk-parliament/2010-05-06/sutton-and-cheam' } Sutton and Cheam Constituency
    
  %h2 Sutton Council Election Results Summary
  
  %table
    %tr
      %th
      %th
      %th Seats
      %th % Seats
      %th Votes
      %th % Votes

    - for result in @results
      %tr
        %td{ :style => "background-color: #{result[2]}" } &nbsp;
        %td= result[0]
        -# Some pretty serious cheating going on here!
        %td.right
          - if result[0] == 'Conservative Party'
            11
          - elsif result[0] == 'Liberal Democrats'
            43
          - else
            0
        %td.right
          - if result[0] == 'Conservative Party'
            20%
          - elsif result[0] == 'Liberal Democrats'
            80%
          - else
            0%
        %td.right= result[1]
        %td.right= sprintf("%0.1f%%", result[1].to_f / @total_votes * 100)
            
        
  %p
    Total votes:
    = @total_votes
  
  %h2 Sutton Council Results by Ward
  
  - for ward in @wards
    %p
      %a{ :href=> "/results/sutton-council/2010-05-06/#{ward.slug}" }
        = ward.name
-#
  %h1
    Vote for your MP and
    %br
    councillors in Sutton
  
  %p
    On 6 May 2010 you can vote to 
    %strong choose your local MP
    and help to decide the next government of the country.
  
  %p
    You can also
    %strong elect your local councillors 
    and help to decide who runs Sutton Council.
  
  %p Who you can vote for depends on where you live. You can find your local candidates and get more information on how the elections work here.
  
  %form{ :method => 'get', :action => '/' }
    %label{ :for => "postcode" } My postcode is 
    %input{ :type => 'text', :name => 'postcode', :value => 'SM1 1EA', :size => 8, :maxlength => 8 }
    %input{ :type => 'submit', :value => "Find it" }
  
.grid_3   
