.grid_12
  %h1 Sutton Elections 6 May 2010
  
  %h2 UK Parliament Election Results

  %p
    %a{ :href => '/results/uk-parliament/2010-05-06/carshalton-and-wallington' } Carshalton and Wallington Constituency
  %p
    %a{ :href => '/results/uk-parliament/2010-05-06/sutton-and-cheam' } Sutton and Cheam Constituency
    
  %h2 Sutton Council Election Results Summary
  
  %table
    %tr
      %th
      %th
      %th Seats
      %th % Seats
      %th Votes
      %th % Votes

    - for result in @results
      %tr
        %td{ :style => "background-color: #{result[2]}" } &nbsp;
        %td= result[0]
        -# Some pretty serious cheating going on here!
        %td.right
          - if result[0] == 'Conservative Party'
            11
          - elsif result[0] == 'Liberal Democrats'
            43
          - else
            0
        %td.right
          - if result[0] == 'Conservative Party'
            20%
          - elsif result[0] == 'Liberal Democrats'
            80%
          - else
            0%
        %td.right= result[1]
        %td.right= sprintf("%0.1f%%", result[1].to_f / @total_votes * 100)
    
    %tr.noborder
      %td
      %td
      %td.right 54
      %td
      %td.right.strong= @total_votes  
      %td  
  
  %h2 Sutton Council Results by Ward
  
  %p Click on the ward names to see the full results for that ward.

  %table.wardmap
    %tr
      %td.blank
      %td.blank
      %td.ld3
        %a{ :href => 'results/sutton-council/2010-05-06/st-helier' } St Helier
      %td.ld3
        %a{ :href => 'results/sutton-council/2010-05-06/wandle-valley' } Wandle Valley
      %td.blank
      %td.blank
    %tr
      %td.ld2
        %a{ :href => 'results/sutton-council/2010-05-06/worcester-park' } Worcester Park
      %td.ld3
        %a{ :href => 'results/sutton-council/2010-05-06/stonecot' } Stonecot
      %td.ld3
        %a{ :href => 'results/sutton-council/2010-05-06/sutton-north' } Sutton North
      %td.ld3
        %a{ :href => 'results/sutton-council/2010-05-06/the-wrythe' } The Wrythe
      %td.blank
      %td.blank
    %tr
      %td.ld2
        %a{ :href => 'results/sutton-council/2010-05-06/nonsuch' } Nonsuch
      %td.ld3
        %a{ :href => 'results/sutton-council/2010-05-06/sutton-west' } Sutton West
      %td.ld3
        %a{ :href => 'results/sutton-council/2010-05-06/sutton-central' } Sutton Central
      %td.ld3
        %a{ :href => 'results/sutton-council/2010-05-06/carshalton-central' } Carshalton Central
      %td.ld3
        %a{ :href => 'results/sutton-council/2010-05-06/wallington-north' } Wallington North
      %td.ld3
        %a{ :href => 'results/sutton-council/2010-05-06/beddington-north' } Beddington North
    %tr
      %td.blank
      %td.ld1
        %a{ :href => 'results/sutton-council/2010-05-06/cheam' } Cheam
      %td.ld2
        %a{ :href => 'results/sutton-council/2010-05-06/sutton-south' } Sutton South
      %td.ld1
        %a{ :href => 'results/sutton-council/2010-05-06/carshalton-south-and-clockhouse' } Carshalton South &amp; Clockhouse
      %td.ld3
        %a{ :href => 'results/sutton-council/2010-05-06/wallington-south' } Wallington South
      %td.ld2
        %a{ :href => 'results/sutton-council/2010-05-06/beddington-south' } Beddington South
    %tr
      %td.blank
      %td.blank
      %td.con3
        %a{ :href => 'results/sutton-council/2010-05-06/belmont' } Belmont
      %td.blank
      %td.blank
      %td.blank
      
  #map
    %p
      %img{ :src => 'sutton-council-elections-2010-ward-map.png', :width =>940, :height => 1013 }
    %p
      Geographical results by ward map by Marshall Keene and Claire Rollo at 
      %a{ :href => 'http://www.sutton.gov.uk/' } Sutton Council
      GIS Team

-#  
  - for ward in @wards
    %p
      %a{ :href=> "/results/sutton-council/2010-05-06/#{ward.slug}" }
        = ward.name
-#
  %h1
    Vote for your MP and
    %br
    councillors in Sutton
  
  %p
    On 6 May 2010 you can vote to 
    %strong choose your local MP
    and help to decide the next government of the country.
  
  %p
    You can also
    %strong elect your local councillors 
    and help to decide who runs Sutton Council.
  
  %p Who you can vote for depends on where you live. You can find your local candidates and get more information on how the elections work here.
  
  %form{ :method => 'get', :action => '/' }
    %label{ :for => "postcode" } My postcode is 
    %input{ :type => 'text', :name => 'postcode', :value => 'SM1 1EA', :size => 8, :maxlength => 8 }
    %input{ :type => 'submit', :value => "Find it" }
  
.grid_3   
