%h1 Sutton Elections

- if @future_elections.size > 0

  %h2 Forthcoming elections
  
  %table
    - @future_elections.each do |election|
      %tr
        %td
          %a{ :href => "/bodies/#{election.body.slug}/elections/#{election.d}" }
            = short_date(election.d)
        %td
          %a{ :href => "/bodies/#{election.body.slug}" }
            = election.body.name
        %td= election.kind


- if @past_elections.size > 0

  %h2 Past elections
  
  %table
    - @past_elections.each do |election|
      %tr
        %td
          %a{ :href => "/bodies/#{election.body.slug}/elections/#{election.d}" }
            = short_date(election.d)
        %td
          %a{ :href => "/bodies/#{election.body.slug}" }
            = election.body.name
        %td= election.kind

-#
  %h2 Sutton Council Results by Ward
  
  %p Click on the ward names to see the full results for that ward.

  %table.wardmap
    %tr
      %td.blank
      %td.blank
      %td.ld3
        %a{ :href => 'results/sutton-council/2010-05-06/st-helier' } St Helier
      %td.ld3
        %a{ :href => 'results/sutton-council/2010-05-06/wandle-valley' } Wandle Valley
      %td.blank
      %td.blank
    %tr
      %td.ld2
        %a{ :href => 'results/sutton-council/2010-05-06/worcester-park' } Worcester Park
      %td.ld3
        %a{ :href => 'results/sutton-council/2010-05-06/stonecot' } Stonecot
      %td.ld3
        %a{ :href => 'results/sutton-council/2010-05-06/sutton-north' } Sutton North
      %td.ld3
        %a{ :href => 'results/sutton-council/2010-05-06/the-wrythe' } The Wrythe
      %td.blank
      %td.blank
    %tr
      %td.ld2
        %a{ :href => 'results/sutton-council/2010-05-06/nonsuch' } Nonsuch
      %td.ld3
        %a{ :href => 'results/sutton-council/2010-05-06/sutton-west' } Sutton West
      %td.ld3
        %a{ :href => 'results/sutton-council/2010-05-06/sutton-central' } Sutton Central
      %td.ld3
        %a{ :href => 'results/sutton-council/2010-05-06/carshalton-central' } Carshalton Central
      %td.ld3
        %a{ :href => 'results/sutton-council/2010-05-06/wallington-north' } Wallington North
      %td.ld3
        %a{ :href => 'results/sutton-council/2010-05-06/beddington-north' } Beddington North
    %tr
      %td.blank
      %td.ld1
        %a{ :href => 'results/sutton-council/2010-05-06/cheam' } Cheam
      %td.ld2
        %a{ :href => 'results/sutton-council/2010-05-06/sutton-south' } Sutton South
      %td.ld1
        %a{ :href => 'results/sutton-council/2010-05-06/carshalton-south-and-clockhouse' } Carshalton South &amp; Clockhouse
      %td.ld3
        %a{ :href => 'results/sutton-council/2010-05-06/wallington-south' } Wallington South
      %td.ld2
        %a{ :href => 'results/sutton-council/2010-05-06/beddington-south' } Beddington South
    %tr
      %td.blank
      %td.blank
      %td.con3
        %a{ :href => 'results/sutton-council/2010-05-06/belmont' } Belmont
      %td.blank
      %td.blank
      %td.blank

-#
  %h1
    Vote for your MP and
    %br
    councillors in Sutton
  
  %p
    On 6 May 2010 you can vote to 
    %strong choose your local MP
    and help to decide the next government of the country.
  
  %p
    You can also
    %strong elect your local councillors 
    and help to decide who runs Sutton Council.
  
  %p Who you can vote for depends on where you live. You can find your local candidates and get more information on how the elections work here.
  
  %form{ :method => 'get', :action => '/' }
    %label{ :for => "postcode" } My postcode is 
    %input{ :type => 'text', :name => 'postcode', :value => 'SM1 1EA', :size => 8, :maxlength => 8 }
    %input{ :type => 'submit', :value => "Find it" }
     
