!!!5
%html
  %head
    %title= @page_title ? @page_title + " - Sutton Elections" : "Sutton Elections - Your guide to voting and election results in the London Borough of Sutton"
    %link{ :rel => 'stylesheet', :type => 'text/css', :href => '/style.css' }
    %link{ :rel => 'stylesheet', :type => 'text/css', :href => '/print.css', :media => 'print' }
  %body
    #main
      - if flash[:notice]
        #notice
          %p= flash[:notice]
      - if flash[:error]
        #error
          %p= flash[:error]
      = yield
    #footer
      #footer_inner
        %h1 Sutton Elections
        %p
          %a{ :href => '/' } Home
        - Body.each do |body|
          %p
            %a{ :href => "/bodies/#{body.slug}" }
              = body.name
              elections
        %p
          %a{ :href => '/candidates' } Candidates
        -#
          %p
            %a{ :href => '/polling-stations' } Polling stations
        %p
          %a{ :href => '/how-the-parliament-election-works' } How parliamentary elections work
        %p
          %a{ :href => '/how-the-council-election-works' } How council elections work
        %p
          &nbsp;
        %p
          %a{ :href => "https://github.com/adrianshort/suttonelections" }
            An independent website by Adrian Short
        %p  
          Powered by data from 
          %a{ :href => "http://www.sutton.gov.uk/" }<
            Sutton Council
          , 
          %a{ :href => "http://data.london.gov.uk/"}
            London Datastore
          and
          %a{ :href => "http://www.ordnancesurvey.co.uk/business-and-government/products/code-point-open.html" }<
            Ordnance Survey
            