%h1
  = @ward.name
  Ward

- if @postcode
  %h2
    = @postcode
    is in 
    %span.highlight
      = @ward_name 
      Ward
    in 
    = @district_name
  
%h2
  Council candidates in 
  = @ward.name
  
- for candidate in @candidates
  %p
    %span.candidate_name
      = candidate.forenames
      = candidate.surname
    %br
    = candidate.party.name