- if @postcode
  %h1
    = @postcode
    is in 
    = @ward_name 
    Ward
-else
  %h1
    = @ward.name
    Ward

#candidates  
  %h2
    Council candidates in 
    = @ward.name
    
  - for candidate in @candidates
    %p
      %span.candidate_name
        = candidate.forenames
        = candidate.surname
      %br
      = candidate.party.name