%h1
  = @ward.name
  Ward

%h2
  = @postcode
  is in 
  %span.highlight
    = @ward_name 
    Ward
  in 
  = @district_name
  
%h2 Council Candidates
- for candidate in @candidates
  %p
    = candidate.forenames
    = candidate.surname
    %br
    = candidate.party.name