- @page_title = @ward.name + " Ward Candidates"

- if @postcode
  .grid_12
    %h2.noprint
      These are the candidates for  
      = @postcode

.clear

.grid_6
  %h1
    = @ward.constituency.name 
    MP candidates

.grid_6  
  %h1
    = @ward.name
    ward council candidates
   
.clear
  
.grid_6  
  %p
    You can vote for
    %strong ONE 
    of these people to become your member of parliament.
  %p.noprint
    Find out more about
    %a{ :href => '/how-the-parliament-election-works' } how the parliament election works.

.grid_6
  %p
    You can vote for 
    %strong THREE 
    of these people to become your local councillors.
  %p.noprint
    Find out more about
    %a{ :href => '/how-the-council-election-works' } how the council election works.

.clear

.grid_6  
  - for candidate in @parly_candidates
    %p
      %span.candidate_name
        = candidate.forenames.split(' ')[0]
        = candidate.surname
      %br
      %span.candidate_party
        = candidate.party.name  
    
  %p.highlight
    This list of candidates may be incomplete as people have until 
    %strong 20 April 
    to decide whether they want to stand for election as the 
    = @ward.constituency.name 
    MP.

.grid_6  
  - for candidate in @council_candidates
    %p
      %span.candidate_name
        = candidate.forenames.split(' ')[0]
        = candidate.surname
      %br
      %span.candidate_party
        = candidate.party.name